<div>
  <div class="island">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vulputate quam erat, quis mollis turpis pellentesque eget. Praesent pretium eros vitae malesuada ullamcorper. Quisque vel velit mattis libero congue feugiat. Quisque convallis hendrerit dolor,
    eget dignissim massa sodales non. Duis interdum convallis elit, vestibulum dapibus risus. Cras id gravida nisi. Cras quis dui tincidunt, venenatis eros ac, elementum quam. Cras euismod mauris mauris. Quisque sed luctus enim. Etiam volutpat neque vel
    mauris vestibulum vulputate. Sed pretium interdum auctor. Nam purus sem, molestie quis quam sit amet, eleifend tincidunt ex. Sed turpis leo, convallis ac lacinia quis, maximus eget eros. Nunc justo augue, interdum in tincidunt at, fermentum id urna.
    Mauris vel nisl luctus, lobortis odio dictum, tempor nibh. Aliquam vel metus sem. Phasellus tellus arcu, tincidunt eget tincidunt a, posuere eu orci. Proin nec ante posuere, fringilla enim sed, vehicula erat. Maecenas sodales enim nisl. Donec dictum
    lectus vitae enim volutpat dapibus. Duis semper urna vel neque feugiat gravida. Etiam luctus nulla justo, sit amet porttitor nibh mollis ut. Ut luctus ullamcorper nisi at aliquet. Nulla ac vehicula enim, a viverra risus. Praesent venenatis felis dui.
    Praesent sed interdum tellus, id tempus massa. Aenean eget lectus sit amet odio varius mollis. Donec ac ipsum vel leo mollis blandit. Sed iaculis finibus elementum. Nullam maximus lorem nec neque hendrerit, aliquam auctor urna faucibus. Nunc lectus
    neque, congue sed mi a, dignissim pharetra libero. Fusce gravida, sapien quis blandit finibus, massa orci pellentesque est, eget luctus nisi tellus nec magna. Praesent et urna interdum, commodo nisi quis, sodales felis. Quisque erat nulla, iaculis
    at arcu ac, lobortis luctus ex. Phasellus viverra odio in scelerisque posuere. Maecenas sollicitudin nibh ac tortor viverra dignissim. Aliquam lobortis sollicitudin libero ut pulvinar. Duis dapibus velit quis orci tincidunt, eu bibendum ligula viverra.
    Nam ullamcorper justo molestie mi dictum, a ultrices massa feugiat. Etiam laoreet lacus eu massa gravida ullamcorper. Ut ultricies, lectus eget placerat ullamcorper, dolor nibh luctus tortor, et accumsan metus nisi quis orci. Curabitur pharetra velit
    sapien, et vestibulum dolor dapibus non. In et ipsum diam. Praesent ut quam id erat iaculis condimentum. Sed auctor quam consectetur dui placerat, in consequat orci mollis. Nunc vel tellus ut sapien semper tempus. Nullam erat leo, rutrum sed convallis
    a, malesuada in justo. Vestibulum sed luctus turpis. Suspendisse bibendum vulputate arcu, sit amet ultrices tortor ullamcorper sagittis. Nunc rhoncus tellus viverra ligula aliquet hendrerit.
  </div>

  <div class="text-center">
    <button class="pure-button pure-button-primary" ng-if="data" ng-click="$modal.close()">close</button>
  </div>
</div>
